:root {
  --cor-laranja: #ff7a00;

}
.expand_more {
  color: #a9a7a7;
}
.expand_more:active {
  transform: rotate(180deg);
}
.search {
  color: var(--cor-laranja);
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}