:root {
  --cor-laranja: rgb(255, 122, 0);

}
.expand_more {
  color: #a9a7a7;
 
}
.expand_more {
  transform: translate(0%,30%);
}
.expand_more:active {
  transform: rotate(180deg);
}
.search {
  color: var(--cor-laranja);
  margin-right: 1rem;
  transform: translate(0%,40%);
  
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3.5rem 2rem 3.5rem;
  
}
.navegacao {
  margin-left: 1.5rem;
}

.cabecalho__navegacao {
  text-decoration: none;
  margin-right: 1.2rem;  
  color: black;
  font-weight: 600;
}

.logo__inter {
  margin-right: 2.5rem;
  position: relative;
  top: 5px;
  
}

.botao__laranja {
  text-decoration: none;
  color: white;
  background-color: var(--cor-laranja);
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  height: 48px;
  padding: 14px 16px 15px;
  margin-right: 1rem;
}
.botao__acessar {
  text-decoration: none;
  color: var(--cor-laranja);
  background-color: transparent;
  border: 1px solid rgb(255, 180, 110);
  border-radius: 8px;
  padding: 14px 16px 15px;
  height: 48px;
  margin-right: 1.5rem;
}