:root {
  --cor-laranja: rgb(255, 122, 0);

}

.container__principal {
  display: flex;
  justify-content: start;
  margin: 8rem 3.5rem 0 4.7rem;
  gap: 220px;

}
.container__principal__frases {
  line-height: 0.2;
}
.container__principal__cards {
  margin-top: 4rem;
}
.simbolo {
  color: var(--cor-laranja);
  transform: scale(1.3);
  margin-right: 0.5rem;
  position: relative;
  top: 5px;
}
.container__principal__titulo {
  color: black;
  font-size: 45px;
  font-weight: 700;
  
  
}
.subtitulo {
  color: var(--cor-laranja);
}
.container__principal__texto {
  font-size: 21px;
  font-weight: 400;
  color: #292929;
  
}
.texto {
  word-break: break-word;
}
.frase {
  margin-bottom: 3rem;
}
.botao__laranja {
  text-decoration: none;
  color: white;
  background-color: var(--cor-laranja);
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  height: 48px;
  padding: 14px 40px 15px;
}